body {
  margin: 0;
  font-family: 'Goldman', cursive;
  /* font-size: 2rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #19282F;
  color: aliceblue;
  background-image: url(../src/images/bgImg.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
